* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("assets/3.png");
    background-size: cover;
    color: var(--primary-text-color);
}
